.container {
  top: 40;
  margin: 20px auto;
  margin-top: 70px;
  width: 720px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
.brand {
  float: left;
  margin: 16px;
  font-size:23px;
}
.options {
  margin:5px 0px 15px 30px;
}
nav {
  width: 100%;
  position:fixed;
  top: 0;
  background-color: tomato
}
th {
  text-align: left;
}

nav li {
  display: inline;
  margin: 0px 20px 0px 20px;
}

nav ul {
  float: right;
  margin-top:20px;
}

a {
  color:black;
}

ul {
  list-style-type: none;
  padding: 0px;
}
dt {
  margin: 10px;
}
