<dl>
  <% @surveys.each do |survey| %>
    <dt> <a href='/surveys/<%=survey.id%>'> <%= survey.title %> <dt> <dd> </a> - <%= survey.created_at %> - <%= survey.participants.count %> <dd>
  <% end %>
</dl>
