<form id='create_survey' action='/create' method='post'>
  <h3>Give Your Survey a Name</h3>
  <% if session[:survey_id] != nil %>
    <p id='survey_name'><input placeholder='Name' id='survey' type='text' name='title' value='<%= Survey.find(session[:survey_id]).title %>'></p>
  <% else %>
      <p id='survey_name'><input placeholder='Name' id='survey' type='text' name='title'></p>
  <% end %>

<p><input placeholder='Question' type='text' name='question'></p>

<div class='answers'>
<p>
<button id='addVar'>Add Answer</button></p>
<p><input type='submit' value='Add Question to Survey'></p>
</div>
</form>
<strong>Warning</strong> Clicking 'Finish Survey' without adding question first will not save the question!
<button onclick="location.href='/finish'">Finish Survey</button>
