<form action='/create'
method='post'>
<p>Name: <input type='text' name='title'></p>
<p>Question: <input type='text' name='question'></p>

<div>
<p>
<span id='addVar'>Add Variable</span></p>
<p><input type='submit' value='Submit'></p>
</div>

</form>
