<form id='create_survey'
action='/create'
method='post'>
<p id='survey_name'>Name: <input type='text' name='title'></p>
<p>Question: <input type='text' name='question'></p>

<div class='answers'>
<p>
<span id='addVar'>Add Answer</span></p>
<p><input type='submit' value='Submit'></p>
</div>
</form>
