<h1>Sign Up</h1>

<div id="errors"><%= erb :_model_errors, :layout => false, :locals => { :model => @user } %></div> <!-- predict this will give us errors because we don't have the partial -->

<form id="sign-up" method="post" action="/users">
  <input type="text" name="user[username]" placeholder="Username" value="<%= @user.username %>"> <!-- predict that this page doubles as an edit user account page -->
  <span id="name-errors" class="errors"></span>
  <br>

  <input type="password" name="user[password]" placeholder="Password">
  <span id="entered_password-errors" class="errors"></span>
  <br>

  <div class="submit"><input type="submit" value="Sign Up"></div>
</form>


