<div class="container">
  <h1>Sign Up</h1>

  <div id="errors"><%= erb :_model_errors, :layout => false, :locals => { :model => @user } %></div> <!-- predict this will give us errors because we don't have the partial -->

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="user[username]" placeholder="e.g., joe" value="<%= @user.username %>"> <!-- predict that this page doubles as an edit user account page -->
    <span id="name-errors" class="errors"></span>
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <span id="entered_password-errors" class="errors"></span>
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
